body {
  background-color: black;
  color: greenyellow;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App button {
  width: 300px;
  font-size: 2em;
  font-family: monospace;
  color: lightgreen;
  background-color: black;
  padding: 1em;
}